body{
    background-color:#030303 ;
}
header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: azure;       
    border-radius: 25px;
    background-color: #D4C9BE;
    color: #123458;
}

#uploadSection {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    height: 20vh;
    background-color: #c3d34f; /* added background color */
    border: 2px dashed #007ACC; /* added border color */
}
#result {
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
    border: 1px solid #FFA500; /* added border color */
    background-color: #FFF8DC; /* added background color */
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
